div.indent {
  margin-left: 24px;
}
div.tuplebox {
  border: 1px solid #dfd;
  padding: 2px;
  margin-bottom: 2px;
}
div.listbox {
  border: 1px solid #ddf;
  padding: 2px;
  margin-bottom: 2px;
}

.value {
  border: 1px solid #eee;
}
div.collapsed {
  max-height: 2em;
  background: #eee;
  overflow: hidden;
  color: gray;
}
div.collapsed:before {
  content: "collapsed ";
}

span.string {
  background: #efe;
}
span.atom {
  background: #ffe;
}

.binaryblue {
  background: #eff;
}
.binary:before { content: "<<"; }
.binary:after { content: ">>"; }
.binarystr:before { content: "bits <<"; }
.binarystr:after { content: ">>"; }

span.pid {
  background: #eef;
}
span.float {
  color: magenta;
}
span.integer {
  color: red;
}
span.tab {
  padding-left: 24px;
  color: #ccc;
}
span.tab:after {
  content: "→";
}
button.minus:after {
  content: "—";
}
button.plus:after {
  content: "+";
}